services:
  wireguard:
    image: linuxserver/wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - SERVERURL={{ ansible_hostname }}
      - SERVERPORT=51820
      - PEERDNS=auto
      - INTERNAL_SUBNET=10.13.37.0
      - ALLOWEDIPS=0.0.0.0/0,::/0
      - LOG_CONFS=false
      - PERSISTENTKEEPALIVE_PEERS=all
    env_file: ./env-peers
    volumes:
      - ./config:/config
      - /lib/modules:/lib/modules
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: always
    stop_grace_period: 0s
